@media screen and (max-width:450px) {
    nav ul li a {
        font-size: 17px;
    }
    .search input {
        width: 50vw;
    }
    .supplements {
        flex-wrap: wrap;
    }
    .products {
        position: relative;
    }
    .products ul {
        flex-wrap: wrap;
        background-color: whitesmoke;
    }
    .pages {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .timing {
        padding: 1vh 0;
    }
    .timing ul li {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .timing ul h4 {
        font-size: 3vw;
    }
    .timing ul h5 {
        font-size: 3vw;
    }
    .timing ul h6 {
        font-size: 3vw;
    }
    .element {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: x-small;
    }
    .map {
        display: none;
    }
    .clicks {
        size: 50vw;
        padding: 0 40vw;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1039px) {
    nav {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .supplements {
        flex-wrap: wrap;
    }
    .products {
        flex-wrap: wrap;
    }
    .timing {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .residuals {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .map {
        size: 50px;
    }
    .element {
        width: 50px;
        font-size: 10px;
        flex-wrap: wrap;
    }
}