@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');
/* font-family: 'Laila', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
/* font-family: 'Flamenco', cursive; */

.top {
    height: 250px;
    background-image: url(/img/header.jpg);
    font-family: 'Flamenco', cursive;
    font-weight: bolder;
    font-size: 50px;
    color: whitesmoke;
}

.top p {
    padding: 130px 50px;
}

.notyet {
    margin: 10vh;
    font-family: 'Lato', sans-serif;
}